{{#> base_html}}
    <h1 class="title">Browse Path {{root_path}} with {{len children}}</h1>
    {{#each children}}
        <div class="">
            <p><a href="/browse/paths{{href}}">{{name}}</a></p>
        </div>
    {{/each}}
{{/base_html}}
