<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aelita Browse Journal</title>
</head>
<body>

<h1>Browse Journal</h1>
<div>
    {{#each journals}}
        <div>
            <p><a href="/{{xrn}}">{{xrn}}</a></p>
            <p>At {{at}}</p>
            <p>description {{cause_description}}</p>
        </div>
    {{/each}}
</div>

</body>
</html>