{{#each xrns}}
<p>{{xrn}}</p>
<p>{{published}}</p>
{{/each}}
<form method="post">
    <div>
        <label>
            Name
            <input name="xrn_name" type="text"/>
        </label>
    </div>
</form>