<!DOCTYPE html>

<h1>Dashboard {{dash_name}}</h1>

{{#each projects}}
<p>{{xrn}}</p>
<p>{{published}}</p>
<p>title {{title}}</p>
{{/each}}
<form method="post">
    <div>
        <!-- ........ todo if err print it .......... -->
        <label>
            Project Type
            <input name="project_type" type="text"/>
        </label>
        <label>
            id
            <input name="id" type="number"/>
        </label>
        <label>
            title
            <input name="title" type="text"/>
        </label>
        <input type="submit" value="Push">
    </div>
</form>